In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
data = { 'area' : [2600,3000,3200,3600,4000,4100] ,
          'bedrooms' : [3.0,4.0,np.nan,3.0,5.0,6.0] ,
          'age' : [20,15,18,30,8,8] ,
          'price' : [550000,565000,610000,595000,760000,810000]
      }
df = pd.DataFrame(data, columns= ['area','bedrooms','age','price'])
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [8]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('price', axis='columns'), df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

**Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old**

In [11]:
reg.predict([[3000,3,40]])

array([498408.25158031])

In [12]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [13]:
reg.intercept_

221323.00186540396

In [14]:
3000*112.06244194 + 3*23388.88007794 - 40*3231.71790863 + 221323.00186540396

498408.251574024